{% extends "public/template.html" %}

{% block title %} Health App {% endblock %}

{% block main %} 

  <main>
    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">The Healthcare Machine Learning Application provides early diagnosis for patients. The application helps healthcare professionals to identify patients who are at high risk of developing these diseases. Early diagnosis and intervention are critical to managing these diseases effectively, and the application helps to achieve this goal.</h1>
    </div>
    
    
      <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
          <div class="w3-twothird">
            <h1>Diabetes Prediction Module</h1>
            <h5 class="w3-padding-32">This module predicts the likelihood of developing diabetes.</h5>
          </div>
      
          <div class="w3-third w3-center">
            <i class="fa fa-stethoscope fa-5x w3-padding-64 w3-text-red"></i>
          </div>
        </div>
      </div>
      
      <!-- Second Grid -->
      <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <i class="fa fa-heartbeat fa-5x w3-padding-64 w3-text-red w3-margin-right"></i>
          </div>
      
          <div class="w3-twothird">
            <h1>Heart Disease Module</h1>
            <h5 class="w3-padding-32">This module predicts the likelihood of developing heart disease.</h5>
          </div>
        </div>
      </div>
    
      <!-- THIRD Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
          <div class="w3-twothird">
            <h1>Parkinson's Disease Module</h1>
            <h5 class="w3-padding-32">This module uses a combination of speech and movement data to predict the likelihood of developing Parkinson's disease.</h5>
    
          </div>
      
          <div class="w3-third w3-center">
            <i class="fa fa-medkit fa-5x w3-padding-64 w3-text-red"></i>
          </div>
        </div>
      </div>

      
    
  </main>
 
{% endblock%}